
ul, header, nav, h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

a {
    list-style-type: none;
}

p {
        text-decoration: none;
        font-family: "mrs-eaves", serif;
        font-size: 2m;
        color: var(--grey);
        text-shadow: var(--black) 1px 0 7px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: var(--black) 3px 0 7px;
    background-color: var(--green);
    padding: 10px;
    height: 7em;
}

#nav {
    width: 100%;
    background-color: var(--purple);
    border: 2px solid var(--gold);
}


ul {
    justify-content: space-evenly;
    width: 96vw;
    font-size: 1em;
    font-family: 'mrs eaves';
    list-style-type: none;
    text-decoration: none;
}

ol {
    justify-content: space-evenly;
    padding: 2em;
    list-style: none;
    text-decoration: none;
    align-items: right;
}



#footer {
    background-color: var(--green);
  /* background-image: url('../../assets/Images/footerimg3.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "mrs eaves", serif;
    font-size: 1.2em;
    padding: 1rem;
    border: 2px solid var(--gold);
    height: 8em;
    z-index: 10;

    > a {
        padding: 3px;
        
    }

    > img {
        height: 100%;
        width: auto;
        opacity: 0.5;
    }
}

a:link, a:visited, a:active {
        text-decoration: none;
        color: var(--grey);
        text-shadow: var(--black) 1px 0 7px;
}

a:hover {
        text-decoration: none;
        color: var(--grey);
        text-shadow: var(--black) 1px 0 7px;
        text-decoration: underline var(--gold);
}

.nav-link {
    font-size: 1.5em;
    color: var(--grey);
    font-family: "mrs-eaves", serif;
	font-weight: 400;
	font-style: italic;
	color: var(--grey);
    font-size: 1.8em;
    text-shadow: var(--black) 3px 0 7px;
    text-decoration: dotted;
}

.footer-link {
    text-decoration: none;
    color: (--grey);
    font-family: "mrs eaves", serif;
}

.footer-sponsor-ol {
    text-decoration: none;
    color: (--grey);
    font-family: "mrs eaves", serif;
}

#footer1, #footer2, #footer3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: var(--black) 1px 0 7px;
    width: 33%;
}

/* #footer2 {
    background-color: var(--green);
    background-image: url('../../assets/Images/footerimg3.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
} */

.pLove {
    position: relative;
    overflow: hidden;
    height: 100%;
    bottom: 0;
    right: 0;
    padding: 0.25em 0.5em;
}

#logoPhoto{
    height: 100%;
    width: 70%;
    float: right;
    position: relative;
    overflow: hidden;
    padding-right: .3em;
}